html, body{
  padding: 0;
  margin: 0;
  height: 100vh;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

body {
  height: 100%;
  width: 100%;
  background-color: #232323;
  text-align: center;
  display: flex; 
  flex-direction: column;
  align-items: center;
}

header, footer {
  height: 60px;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.tile {
  height: 80px;
  width: 80px;
  display: inline-block;
  box-shadow: 0px 0px 5px #101010;
  border-radius: 5px;
  line-height: 75px;
  text-transform: capitalize;
}

.correct {
  background-color: #588157;
}

.partially {
  background-color: #eaac8b;
}

.wrong {
  background-color: #e56b6f;
}

p mark {
  color: #eaac8b;
  background-color: transparent;
}

p mark:first-of-type {
  color: #588157;
  background-color: transparent;
}

p mark:last-of-type {
  color: #e56b6f;
  background-color: transparent;
}

.report, .start {
  height: 30px;
}

.start {
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
}

.start:hover {
  background-color: #fff;
  color: #232323;
}

.score {
  visibility: hidden;
}

.score:before {
  content: 'Score: ';
}